#plnr-div-hex {
    overflow-y: scroll;
    height: 400px;
    width: 400px;
    padding: 10px 0 10px 40px;
    background: #eeeeee;
}

#plnr-form-plan {
    overflow-y: scroll;
    height: 400px;
}

#plnr-param-form {

}

.upload-box {
  position: relative;
}

#plnr-hex-upload {

}

#plnr-hex-upload-hidden {
  height: 0px;
  visibility: hidden;
  position: absolute;
}